@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #fff;
    width: 680px;
    height: 830px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 70px auto;
    border-radius: 20px;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #203774;
    padding: 30px;
    color: #fff;
    border-radius: 20px 20px 0 0;
    font-size: .9em;
}

.barra a {
    text-decoration: none;
    color: #fff;
}

.material-symbols-outlined {
    transition: all .2s;
}

.material-symbols-outlined:hover {
    font-size: 2.1em;
}

.fecha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.fecha a {
    text-decoration: none;
    color: #000;
}

.sep {
    text-align: center;
    margin: 0 45px;
}

.sep p {
    font-size: 1.6em;
    font-weight: 700;
    padding-bottom: 7px;
}

.sep span {
    font-size: .8em;
    font-weight: 700;
}

.sub-container {
    background-color: #203774;
    width: 480px;
    height: 230px;
    margin: 20px auto;
    border-radius: 20px;
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin: 40px;
    padding-top: 40px;
}

.texto h3 {
    font-size: 1.5em;
    text-align: center;
}

.texto p {
    padding-top: 20px;
    font-size: .8em;
}

.boton button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    font-size: .9em;
    font-weight: 700;
    cursor: pointer;
    transition: all .2s;
}

.boton button:hover {
    width: 135px;
    height: 45px;
    background-color: #ddd;
}

.dr {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .9em;
    margin-left: 40px;
    padding-top: 10px;
}

img {
    border-radius: 50%;
    width: 40px;
    height: 41px;
    border: 3px solid #4868BD;
    margin-right: 10px;
    transition: all .2s;
}

img:hover {
    width: 50px;
    height: 51px;
}

@media (min-width: 320px) and (max-width: 800px) {
    .container {
        width: 315px;
        height: 650px;
        margin: 60px auto;
    }

    .barra {
        height: 70px;
        padding: 20px;
        font-size: .7em;
    }

    .material-symbols-outlined:hover {
        font-size: 1.8em;
    }

    .fecha {
        margin: 50px;
    }
    
    .sep {
        margin: 0 20px;
    }
    
    .sep p {
        font-size: 1.1em;
        padding-bottom: 3px;
    }
    
    .sep span {
        font-size: .6em;
    }
    
    .sub-container {
        width: 290px;
        height: 170px;
        margin: 20px auto;
    }
    
    .contenido {
        margin: 17px;
        padding-top: 22px;
    }
    
    .texto h3 {
        font-size: 1.2em;
    }
    
    .texto p {
        padding-top: 15px;
        font-size: .7em;
    }
    
    .boton button {
        width: 95px;
        height: 28px;
        font-size: .7em;
    }
    
    .boton button:hover {
        width: 100px;
        height: 33px;
        background-color: #ddd;
    }

    .dr {
        font-size: .8em;
        margin-left: 17px;
        padding-top: 25px;
    }
    
    img {
        width: 34px;
        height: 35px;
    }

    img:hover {
        width: 38px;
        height: 39px;
    }
}    